.project-section {
  width: 80%;
  margin: auto;
}
.about-page {
  gap: 100px;
}
.hero {
  height: 400px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: -1px 8px 17px 11px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 8px 17px 11px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 18px 27px -10px rgba(0, 0, 0, 0.4);
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.9) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  width: 100%;
  height: 100%;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero h2 {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  color: #fff;
}
.about-content {
  width: 70%;
  margin: auto;
  text-align: center;
  gap: 10px;
}

.about-content p {
  width: 50%;
  min-width: 600px;
  margin: auto;
  font-size: 20px;
}
/* .project-content-wrapper{

} */
.project-content h2 {
  text-align: center;
  margin-top: 50px;
}
.project-content-wrapper h3 {
  font-size: 34px;
}
.project-content-wrapper p {
  font-size: 18px;
}

.process-section h2 {
  text-align: center;
}
.process-section {
  margin-bottom: 100px;
}
.timeline-icon {
  width: 50px;
  margin: 20px;
}
.timeline-title {
  font-size: 28px !important;
  color: var(--secondaryColor);
  font-family: var(--primaryFont) !important;
}
.timeline-description {
  font-size: 18px !important;
  width: 50%;
}
.alternate-content {
  float: right !important;
}
.css-1ami7lv-MuiTimelineConnector-root {
  background-color: #5271ff;
}
