.page-section {
  gap: 100px;
}

.hero-section {
  background: url(../../Assets/Home/hero.jpg) center / cover no-repeat;
  height: 700px;
  position: relative;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  width: 100%;
  height: 100%;
}
.hero-wrapper {
  z-index: 2;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 20px;
}
.hero-wrapper p {
  width: 60%;
  font-size: 24px;
  text-align: center;
}
.hero-btn {
  height: 50px;
  border-color: white !important;
  color: white !important;
}
.hero-btn span {
  display: flex;
  align-items: center;
  margin-left: 7px;
}

/* About Section */
.about-section {
  display: flex;
  width: 65%;
  margin: auto;
  gap: 70px;
  align-items: center;
}
.about-img img {
  width: 500px;
  border-radius: 50%;
  height: 500px;
  object-fit: cover;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(51, 51, 51, 0.53);
  -moz-box-shadow: 0px 0px 5px 5px rgba(51, 51, 51, 0.53);
  box-shadow: 0px 0px 5px 5px rgba(51, 51, 51, 0.53);
}
.about-section-content {
  gap: 20px;
}

.btn {
  height: 50px;
  width: 150px;
  text-transform: capitalize !important;
  background-color: var(--secondaryColor) !important;
  font-size: 16px !important;
}
.btn span {
  display: flex;
  align-items: center;
  margin-left: 7px;
}
/* Service Section */
.services-wrapper {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
}
.service-card {
  width: 300px;
  border-radius: 12px;
  gap: 8px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(85, 85, 85, 0.5);
  -moz-box-shadow: 0px 0px 8px 2px rgba(85, 85, 85, 0.5);
  box-shadow: 0px 0px 8px 2px rgba(85, 85, 85, 0.5);
  background-color: #7f94f322;
}

.service-card img {
  width: 70px;
  height: 50px;
}
.service-card-wrapper {
  gap: 20px;
  height: 450px;
}
.service-card-content h2 {
  font-size: 20px;
}
.service-card-content p {
  font-size: 14px;
}
.service-img img {
  width: 500px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(85, 85, 85, 0.5);
  -moz-box-shadow: 0px 0px 8px 2px rgba(85, 85, 85, 0.5);
  box-shadow: 0px 0px 8px 2px rgba(85, 85, 85, 0.5);
}
.service-head {
  text-align: center;
  width: 40%;
  margin: 20px auto 40px auto;
}
.service-head p {
  font-size: 20px;
}

/* Responsivenes */

@media only screen and (max-width: 600px) {
  .hero-wrapper p {
    width: 100%;
    font-size: 14px;
  }
  .hero-section {
    height: 100%;
  }
  .hero-wrapper {
    height: 100%;
    padding: 0px 20px 50px 20px;
  }
  .hero-wrapper h1 {
    font-size: 22px;
  }
  .services-wrapper {
    width: 100%;
    gap: 20px;
    flex-direction: column;
  }
  .about-section {
    width: 100%;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .about-img img {
    width: 300px;
    height: 300px;
  }
  .service-card {
    width: 100%;
  }
  .service-img img {
    width: 100%;
  }

  .service-card-wrapper {
    gap: 20px;
    height: 100%;
  }
  .service-head h2 {
    font-size: 32px !important;
  }
  .service-head p {
    font-size: 16px !important;
  }
  .page-section {
    gap: 50px;
  }
  .service-head {
    width: 100%;
    margin: 20px auto;
    text-align: left;
  }
  .service-section {
    padding: 0 15px;
    margin-bottom: 20px;
  }
}
