
.flex-center {
  align-items: center !important;
  gap: 10px;
}

.title {
  font-size: 64px;
}
.description {
  font-size: 22px;
}
.primaryFont {
  font-family: var(--primaryFont) !important;
}
.secondaryFont {
  font-family: var(--secondaryFont) !important;
}
.primaryColor {
  color: var(--primaryColor);
}
.secondaryColor {
  color: var(--secondaryColor);
}
.h2 {
  font-size: 48px !important;
}
.mt-20 {
  margin-top: 20px;
}
.flex {
  display: flex;
}
.gap-5 {
  gap: 5px;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.testing {
  border: 1px solid black;
}
.clr-white {
  color: #fff;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bg-clr {
  background-color: #7f94f322;
}
li {
  list-style: none;
}
.center {
  text-align: center;
}

.mb-30 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
 
  .h2 {
    font-size: 32px !important;
  }
  .description{
    font-size: 16px;
  }
}

